<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Job Post</title>
    <link href="/rogue/js/libs/jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet" />
    <link href="/rogue/js/libs/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/rogue/css/style.css" rel="stylesheet" />
    <link href="/rogue/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />
    <link href="/rogue/style.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>

<div class="text-center" ng-app>
    <br><br>
    <h1>Account Type</h1>
    <br>
    <button type="button" class="btn btn-success" ng-click="OnJobSeekerAccount()">Job Seeker</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger" ng-click="OnEmployerAccount()">Employer</button>
</div>
