<div class="text-center" ng-show="Loading">
    <img src="icons/loading.gif"/>
</div>
<div ng-show="!Loading">
    <div class="panel panel-danger" ng-show="LoadError">
        <div class="panel-heading">
            <h3 class="panel-title">
            Sorry
            </h3>
        </div>
        <div class="panel-body">
            Sorry this job is unavailable or does not exist.
        </div>
    </div>
    <div class="panel" ng-hide="LoadError">
      <div class="panel-heading">
        <p>
          <a ng-click="OnClickBack()">&larr; Back</a>
        </p>        
        <div class="panel-title">  
            <h3 class="sh-jobtitle">{{Job.title}}</h3>
            <h4>{{Job.employer}}</h4>
            <div>
                <span ng-show="Job.expired" class="label label-danger">Expired</span>
                <span ng-show="Job.applied" class="label label-success">Applied</span><small style="color: #bdc3c7;">&nbsp;Posted {{SHUtility.GetDaysAgoString(Job.posted_days)}}</small>
                <br>
                <!-- show job match stars -->
                <img src="icons/rogue_star.png" style="width: 16px; height: 16px;" 
                    ng-repeat="t in SHUtility.GetSolidStarCount(Job.match_hours, Job.total_hours) track by $index"/><img ng-src="icons/rogue_star_empty.png" style="width: 16px; height: 16px;" 
                    ng-repeat="u in SHUtility.GetEmptyStarCount(Job.match_hours, Job.total_hours) track by $index "/>
                <small>Job Hours Match - <span ng-show="Job.availability_hours===0">N/A</span>
                                         <span ng-hide="Job.availability_hours===0">({{Job.match_hours}} / {{Job.total_hours}})</span>
                </small>
                <br>
                <!-- show job availability coverage stars -->
                <img ng-src="icons/rogue_star.png" style="width: 16px; height: 16px;" 
                    ng-repeat="t in SHUtility.GetSolidStarCount(Job.match_hours, Job.availability_hours) track by $index" /><img ng-src="icons/rogue_star_empty.png" style="width: 16px; height: 16px;" 
                    ng-repeat="t in SHUtility.GetEmptyStarCount(Job.match_hours, Job.availability_hours) track by $index" />
                <small>Availability Coverage - <span ng-show="Job.availability_hours===0">N/A</span>
                                         <span ng-hide="Job.availability_hours===0">({{Job.match_hours}} / {{Job.availability_hours}})</span>
                </small>
            </div>
        </div>
      </div>
      <div class="panel-body">
        <p style="white-space: pre;"><br>{{Job.description}}</p>
        <p>
            <label>Availability</label>
            <table class="table table-bordered table-condensed table-striped text-center">
                <tr>
                    <th></th>
                    <th class="text-center" ng-repeat="day in StaticAPI.AvailabilityDays">{{day}}</th>
                </tr>
                <tr ng-repeat="period in StaticAPI.AvailabilityCategories">
                    <td>{{period}}</td>
                    <td ng-repeat="day in StaticAPI.AvailabilityDays" ng-class="{ 'avail-highlight' : Job.availability[$index][$parent.$index] }">
                        <input type="checkbox" disabled="disabled" ng-model="Availability[$index][$parent.$index]" />
                    </td>
                </tr>
            </table>
        <p>
        <div class="text-center">
          <button class="btn btn-success" ng-click="OnApply()" ng-hide="Job.expired || Job.applied || ShowApplication">Apply</button>
        </div>
        <div class="alert alert-success text-center" role="alert" ng-show="ShowApplicationSuccess">
            Success!<br>Your application has been submitted. 
        </div>
      </div>
    </div>
    <div class="panel panel-success" ng-show="ShowApplication">
        <div class="panel-heading">
            <h3 class="panel-title">Candidate Application</h3>
        </div>
        <div class="panel-body">
            <form ng-submit="OnSubmitApplication()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : ApplicationError.name }">
                    <label>Name</label>
                    <input maxlengt="100" class="form-control" type="text" placeholder="" ng-model="Application.name" />
                    <p ng-show="ApplicationError.name" class="help-block">{{ApplicationError.name}}</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ApplicationError.email }">
                    <label>E-Mail</label>
                    <input maxlength="320" class="form-control" type="text" placeholder="" ng-model="Application.email" />
                    <p ng-show="ApplicationError.email" class="help-block">{{ApplicationError.email}}</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ApplicationError.phone }">
                    <label>Phone #</label>
                    <input maxlength="15" class="form-control" type="text" placeholder="" ng-model="Application.phone" />
                    <p ng-show="ApplicationError.phone" class="help-block">{{ApplicationError.phone}}</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ApplicationError.resume }">
                    <label>Resume</label>
                    <textarea maxlength="5000" class="form-control" ng-model="Application.resume" ></textarea>
                    <p ng-show="ApplicationError.resume" class="help-block">{{ApplicationError.resume}}</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ApplicationError.availability }">
                    <label>Availability</label>
                    <span class="pull-right">
                        <button ng-click="StaticAPI.FillAvailability(true, Application.availability)" type="button" class="btn btn-sm btn-success">&nbsp;Full&nbsp;</button>
                        <button ng-click="StaticAPI.FillAvailability(false, Application.availability)" type="button" class="btn btn-sm btn-danger">Clear</button>
                    </span>
                    <table class="table table-bordered table-condensed table-striped text-center">
                        <tr>
                            <th></th>
                            <th ng-repeat="day in StaticAPI.AvailabilityDays">{{day}}</th>
                        </tr>
                        <tr ng-repeat="period in StaticAPI.AvailabilityCategories">
                            <td>{{period}}</td>
                            <td ng-repeat="day in StaticAPI.AvailabilityDays">
                                <input type="checkbox" ng-model="Application.availability[$index][$parent.$index]" />
                            </td>
                        </tr>
                    </table>
                    <p ng-show="ApplicationError.availability" class="help-block">{{ApplicationError.availability}}</p>
                </div>
                <div class="alert alert-danger text-center" role="alert" ng-show="ApplicationErrorMessage">
                    {{ApplicationErrorMessage}}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger" ng-disabled="!PermitApplication" ng-hide="ApplicationSubmitting">Apply</button>
                    <img src="icons/loading.gif" ng-show="ApplicationSubmitting" />
                </div>
            </form>
        </div>
    </div>
</div>