<div class="panel" ng-class="{ 'panel-success' :IsCandidates('Yes'), 'panel-warning' : IsCandidates('New'), 'panel-danger' : IsCandidates('No') }" id="top">
    <div class="panel-body">
        <a ng-click="OnBackToPostedJobs()">← <u>Back</u></a>
        <h4>{{Job.title}}<span class="label label-success pull-right" ng-hide="Job.expired">Active</span><span class="label label-danger pull-right" ng-show="Job.expired">Expired</span></h4>
        <h5>{{Job.employer}}</h5>
        <p>
            <span ng-show="Job.posted_days==0">Posted today</span>
            <span ng-hide="Job.posted_days==0">Posted {{Job.posted_days}} day(s) ago</span>
            <span ng-hide="Job.expired">
                |
                <span ng-show="Job.expire_days==0"> Expires today</span
                <span ng-hide="Job.expire_days==0"> Expires in {{Job.expire_days}} day(s)</span>
            </span>
            <span ng-show="Job.expired">
                |
                <span ng-show="Job.expire_days==0"> Expired today</span>
                <span ng-hide="Job.expire_days==0"> Expired {{Job.expire_days}} day(s) ago</span>
            </span>
        </p>
        <div>
            <div ng-hide="Job.expired">
                <label><a ng-click="OnRemovePost(Job.id)"><span class="glyphicon glyphicon-remove"></span>&nbsp;<u>Expire Post</u></a></label>
                <br>
                <label><a ng-hide="DoesJobPostExpireInMoreThanSeven(Job.expire_days)" ng-click="OnExtendPost(Job.id)"><span class="glyphicon glyphicon-time"></span>&nbsp;<u>Extend Post by 7 Days</u></a></label>
            <br>
            </div>
            <label><span class="glyphicon glyphicon-user"></span>&nbsp;View Candidates</label>
            <div>
                <a ng-click="OnViewCandidates(Job.id, 'new')"><span class="badge alert-warning">&nbsp;&nbsp;&nbsp;&nbsp;New&nbsp;&nbsp;&nbsp;&nbsp;<br><br>{{Job.candidates.new}}</span></a>
                <a ng-click="OnViewCandidates(Job.id, 'yes')"><span class="badge alert-success">&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;<br><br>{{Job.candidates.yes}}</span></a>
                <a ng-click="OnViewCandidates(Job.id, 'no')"><span class="badge alert-danger">&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;<br><br>{{Job.candidates.no}}</span></a>
                <a ng-click="OnViewCandidates(Job.id, 'matches')"><span class="badge alert-info">StreamHires<br><br><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;&nbsp;{{Job.candidates.matches}}&nbsp;&nbsp;&nbsp;</span></a>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <h2 class="panel-title">{{Candidates.type}} Candidates<small ng-show="Candidates.profiles" class="pull-right" style="color: #bdc3c7;">{{Candidates.start}} to {{Candidates.end}} of {{Candidates.total}}</small></span></h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-hide="Candidates.profiles">
            <div  ng-show="IsCandidates('Yes')">
                You have not set any candidates as <span class="badge alert-success">Yes</span> candidates. You can set <span class="badge alert-warning">New</span> and <span class="badge alert-danger">No</span> candidates as <span class="badge alert-success">Yes</span> to make them visible here.
            </div>
            <div  ng-show="IsCandidates('New')">
                You don't have any <span class="badge alert-warning">New</span> candidates.
            </div>
            <div  ng-show="IsCandidates('No')">
                You have not set any candidates as <span class="badge alert-danger">No</span> candidates. You can set <span class="badge alert-warning">New</span> and <span class="badge alert-success">Yes</span> candidates as <span class="badge alert-danger">No</span> to make them visible here.
            </div>
        </li>
        <li class="list-group-item" ng-hide="true">
            <div class="form-group">
                <label>Resume Keywords</label>
                <input class="form-control" type="text" />
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-success">Search</button>
                    <button type="button" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="Candidate in Candidates.profiles">
            <h4 style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;">{{Candidate.name}}</h4>
            <p><span class="badge" ng-class="{ 'alert-success' :IsCandidates('Yes'), 'alert-warning' : IsCandidates('New'), 'alert-danger' : IsCandidates('No') }">{{Candidates.type}}</span>
               <span ng-show="Candidate.application_days==0">Submitted today</span>
               <span ng-hide="Candidate.application_days==0">Submitted {{Candidate.application_days}} day(s) ago</span>
            <br>
            <img src="icons/rogue_star.png" style="width: 16px; height: 16px;" 
                ng-repeat="t in getTimes(Candidate.job_hours_match_solid) track by $index"/><img ng-src="icons/rogue_star_empty.png" style="width: 16px; height: 16px;" 
                ng-repeat="u in getTimes(Candidate.job_hours_match_empty) track by $index "/> Job Hours Match ({{Candidate.job_hours_match}} / {{Job.job_hours}})
            <h5 data-toggle="collapse" data-target="#bs-example-navbar-collapse-1-{{Candidate.id}}" style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;"><span class="glyphicon glyphicon-collapse-down"></span> <u>Resume</u></h5>
            <div class="collapse" id="bs-example-navbar-collapse-1-{{Candidate.id}}">
            {{Candidate.resume}}
            </div>
            <h5 data-toggle="collapse" data-target="#bs-example-navbar-collapse-2-{{Candidate.id}}" style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;"><span class="glyphicon glyphicon-collapse-down"></span> <u>Availability</u></h5>
            <div class="collapse" id="bs-example-navbar-collapse-2-{{Candidate.id}}">
            <table class="table table-bordered table-condensed table-striped text-center">
                <tr>
                    <th></th>
                    <th ng-repeat="day in StaticAPI.AvailabilityDays">{{day}}</th>
                </tr>
                <tr ng-repeat="period in StaticAPI.AvailabilityCategories">
                    <td>{{period}}</td>
                    <td ng-repeat="day in StaticAPI.AvailabilityDays">
                        <input type="checkbox" disabled="disabled" ng-model="Candidate.availability[$index][$parent.$index]" />
                    </td>
                </tr>
            </table>
            </div>
            <button type="button" class="btn btn-success btn-sm" ng-hide="Candidates.type=='Yes'">Yes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-hide="Candidates.type=='No'">No</button>
            </p>
        </li>
        <li class="list-group-item" ng-show="Candidates.start > 1 || Candidates.end < Candidates.total">
            <br>
            <a ng-click="OnPrevPage()" ng-show="Candidates.start > 1">&nbsp;&nbsp;&nbsp;&larr; Prev</a>
            <a ng-click="OnNextPage()" ng-show="Candidates.end < Candidates.total" class="pull-right">Next &rarr;&nbsp;&nbsp;&nbsp;</a>
            <br><br>
        </li>
    </ul>
</div>
