  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Job Post</title>
    <link href="/rogue/js/libs/jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet" />
    <link href="/rogue/js/libs/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/rogue/css/style.css" rel="stylesheet" />
    <link href="/rogue/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />
    <link href="/rogue/style.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Matching Job Seekers</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <p>These available job seekers may be a good match for your job based on job function, availability and geography.<br><br>Review and invite potential hires to apply.</p>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label>Resume Keywords</label>
                <input class="form-control" type="text" />
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-success">Search</button>
                    <button type="button" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h4 style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;">Candidate #123</h4>
            <p>Profile updated 5 days ago
            <br>
            <img src="icons/rogue_star.png" style="width: 16px; height: 16px;"><img src="icons/rogue_star.png" style="width: 16px; height: 16px"><img src="icons/rogue_star.png" style="width: 16px; height: 16px"><img src="icons/rogue_star_empty.png" style="width: 16px; height: 16px"> Job Hours Match (6 / 8)
            <h5 data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;"><span class="glyphicon glyphicon-collapse-down"></span> <u>Resume</u></h5>
            <div class="collapse" id="bs-example-navbar-collapse-1">
            This is my resume
            </div>
            <h5 data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;"><span class="glyphicon glyphicon-collapse-down"></span> <u>Availability</u></h5>
            <div class="collapse" id="bs-example-navbar-collapse-2">
            This is my resume
            </div>
            <br>
            <button type="button" class="btn btn-success btn-sm">Invite To Apply</button>
            </p>
        </li>
    </ul>
</div>
