<h2 class="text-center">My Jobs<button type="button" class="btn btn-success pull-right" ng-click="OnFindJobs()">Find Jobs</button></h2>
<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-success" ng-click="OnShowJobs('Applied')" style="color: #3c763d; background-color:#dff0d8;">Applied<br>{{MyJobs.total_applied}}</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger" ng-click="OnShowJobs('Invited')" style="color: #a94442; background-color: #f2dede;">Invitations<br>{{MyJobs.total_invitations}}</button>
  </div>
</div>
<div class="panel" ng-class="{ 'panel-success' : IsJobs('Applied'), 'panel-danger' : IsJobs('Invited') }" id="top">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{MyJobs.jobs.type}}
            <span class="pull-right" ng-show="MyJobs.jobs"><small style="color: #bdc3c7;">{{MyJobs.jobs.start}} to {{MyJobs.jobs.end}} of {{MyJobs.jobs.total}}</small></span>
        </h3>
    </div>
    <ul class="list-group" ng-show="MyJobs.jobs.total===0">
        <li class="list-group-item" ng-show="IsJobs('Applied')">You don't have any Job Applications yet.</li>
        <li class="list-group-item" ng-show="IsJobs('Invited')">You don't have any Job Application Invitations yet.</li>
    </ul>
    <div class="list-group" ng-show="MyJobs.jobs.items">
        <a href="#/viewjob/{{Job.jobid}}" class="list-group-item" ng-repeat="Job in MyJobs.jobs.items">
            <h4 style="margin-top: 5px; margin-bottom: 1px; color: #03AB52; font-weight: normal;"><u>{{Job.title}}</u>
                <span class="label label-danger pull-right" ng-show="Job.expired">Expired</span>
                <span class="label label-success pull-right" ng-hide="Job.expired">Active</span>
            </h4>
            <h5 style="margin-top: 5px; margin-bottom: 1px;">{{Job.employer}}</h5>
            <p>

                <small ng-show="IsJobs('Applied')" style="color: #bdc3c7;">
                    Applied
                    <span ng-show="Job.applied_days===0">today</span>
                    <span ng-hide="Job.applied_days===0">{{Job.applied_days}} days ago</span>
                </small>
                <small ng-show="IsJobs('Invited')" style="color: #bdc3c7;">
                    Posted
                    <span ng-show="Job.posted_days===0">today</span>
                    <span ng-hide="Job.posted_days===0">{{Job.posted_days}} days ago</span>
                </small>
                <br>
                <!-- show job match stars -->
                <img src="icons/rogue_star.png" style="width: 16px; height: 16px;" 
                    ng-repeat="t in GetSolidStarCount(Job.hours_match, Job.hours_total) track by $index"/><img ng-src="icons/rogue_star_empty.png" style="width: 16px; height: 16px;" 
                    ng-repeat="u in GetEmptyStarCount(Job.hours_match, Job.hours_total) track by $index "/>
                <small>Job Hours Match - <span ng-hide="Job.hours_match && Job.hours_total">N/A</span>
                                         <span ng-show="Job.hours_match && Job.hours_total">({{Job.hours_match}} / {{Job.hours_total}})</span>
                </small>
                <br>
                <!-- show job availability coverage stars -->
                <img src="icons/rogue_star.png" style="width: 16px; height: 16px;" 
                    ng-repeat="t in GetSolidStarCount(Job.hours_match, Job.hours_available) track by $index"/><img ng-src="icons/rogue_star_empty.png" style="width: 16px; height: 16px;" 
                    ng-repeat="u in GetEmptyStarCount(Job.hours_match, Job.hours_available) track by $index "/>
                <small>Availability Coverage - <span ng-hide="Job.hours_match && Job.hours_available">N/A</span>
                                         <span ng-show="Job.hours_match && Job.hours_available">({{Job.hours_match}} / {{Job.hours_available}})</span>
                </small>
                </small>
            </p>
        </a>
    </div>
    <div ng-show="MyJobs.jobs.start > 1 || MyJobs.jobs.end < MyJobs.jobs.total">
            <br>
            <a ng-click="OnPrevPage()" ng-show="MyJobs.jobs.start > 1">&nbsp;&nbsp;&nbsp;&larr; Prev</a>
            <a ng-click="OnNextPage()" ng-show="MyJobs.jobs.end < MyJobs.jobs.total" class="pull-right">Next &rarr;&nbsp;&nbsp;&nbsp;</a>
            <br><br>
        </li>
    <div>
</div>