<div class="text-center">
<h2 class="sh-color">StreamHire</h2>
<h4 class="sh-greyfont">Where employers and jobseekers find each other when the time is right<h4>
</div>
<div class="panel">
    <div class="panel-body">
        <form novalidate>
            <div class="form-group" ng-class="{ 'has-error' : SearchErrors.location }">
                <label>Postal Code</label>
                <button ng-show="LocationAvailable" ng-disabled="LoadingLocationMessage" ng-click="OnGetLocation()" type="button" class="btn btn-info btn-sm pull-right">Use my location</button>
                <input type="text" maxlength="10" placeholder="" class="form-control" ng-model="SearchParams.location.name"/>
                <p ng-show="LoadingLocationMessage" class="help-block">{{LoadingLocationMessage}}</p>
                <p ng-show="SearchErrors.location" class="help-block">{{SearchErrors.location}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : SearchErrors.availability }">
                <span class="pull-right">
                    <button ng-click="StaticAPI.FillAvailability(true, SearchParams.availability)" type="button" class="btn btn-sm btn-success">&nbsp;Full&nbsp;</button>
                    <button ng-click="StaticAPI.FillAvailability(false, SearchParams.availability)" type="button" class="btn btn-sm btn-danger">Clear</button>
                </span>
                <p ng-show="SearchErrors.availability" class="help-block">{{SearchErrors.availability}}</p>
                <table class="table table-bordered table-condensed table-striped text-center">
                    <tr>
                        <th></th>
                        <th class="text-center" ng-repeat="day in StaticAPI.AvailabilityDays">{{day}}</th>
                    </tr>
                    <tr ng-repeat="period in StaticAPI.AvailabilityCategories">
                        <td>{{period}}</td>
                        <td ng-repeat="day in StaticAPI.AvailabilityDays">
                            <input type="checkbox" ng-model="SearchParams.availability[$index][$parent.$index]" />
                        </td>
                    </tr>
                </table>
            </div>
<!--             <div class="form-group">
                <label>Keywords</label>
                <input type="text" class="form-control" ng-model="SearchParams.keywords" />
            </div> -->
            <div class="alert alert-danger text-center" role="alert" ng-show="SearchErrors">
                Sorry your search is missing something. Please check and retry.
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success" ng-disabled="LoadingLocationMessage" ng-click="OnSearch()" ng-disabled="PerformingSearch">Find Jobs</button>
            </div>
        </form>
        <br><br>
        <div class="text-center">
            <button type="button" class="btn btn-danger" ng-click="OnPostJob()">Employers: Post Your Job</button>
        </div>
    </div>
</div>