<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Job Post</title>
    <link href="/secondcrack/js/libs/jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet" />
    <link href="/secondcrack/js/libs/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/secondcrack/css/style.css" rel="stylesheet" />
    <style>
        #sh-jobpost-description {
            font: 9pt/1.5em sans-serif;
            margin:0 0 1.5em 0;
        };
    </style>
  </title>
  <body ng-app="streamhire">
    <div class="container" ng-controller="JobPostCtrl">
        <form name="jobpost" id="jobpost-top">
            <br>
            <div class="row" ng-hide="PreviewTab">
                <h3 class="text-center">Job Post</h3>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Details</h4>
                    </div>
                    <div class="panel-body">
                        <div id="jobpost-address-group" class="form-group" ng-class="{ 'has-error' : FormErrors.address }">
                            <label><span class="glyphicon gogo-icon gogo-icon-map"></span>&nbsp;Address</label>
                            <input type="text" name="jobpost-address" class="form-control" maxlength="100" ng-model="JobPost.address">
                            <span class="help-block" ng-show="FormErrors.address" ng-bind="FormErrors.address"></span>
                        </div>
                        <div id="jobpost-city-group" class="form-group" ng-class="{ 'has-error' : FormErrors.city }">
                            <label><span class="glyphicon gogo-icon gogo-icon-map"></span>&nbsp;City*</label>
                            <select name="jobpost-city" class="form-control" ng-model="JobPost.city" ng-options="v.id as v.name for v in JobAPI.JobCities">
                            </select>
                            <span class="help-block" ng-show="FormErrors.city" ng-bind="FormErrors.city"></span>
                        </div>
                        <div id="jobpost-function-group"  ng-class="{ 'has-error' : FormErrors.jobfunction }">
                            <label><span class="glyphicon glyphicon-th-list"></span>&nbsp;Function*</label>
                            <select name="jobpost-function" class="form-control" ng-model="JobPost.jobfunction" ng-options="v.id as v.name for v in JobAPI.JobFunctions">
                            </select>
                            <span class="help-block" ng-show="FormErrors.jobfunction" ng-bind="FormErrors.jobfunction"></span>
                        </div>
                        <div id="jobpost-type-group"  ng-class="{ 'has-error' : FormErrors.jobtype }">
                            <label><span class="glyphicon glyphicon-th-list"></span>&nbsp;Type*</label>
                            <select name="jobpost-type" class="form-control" ng-model="JobPost.jobtype" ng-options="v.id as v.name for v in JobAPI.JobTypes">
                            </select>
                            <span class="help-block" ng-show="FormErrors.jobtype" ng-bind="FormErrors.jobtype"></span>
                        </div>
                        <div id="jobpost-employer-group"  ng-class="{ 'has-error' : FormErrors.jobtype }">
                            <label><span class="glyphicon glyphicon-pencil"></span>&nbsp;Employer*</label>
                            <input name="jobpost-employer" class="form-control" type="text" maxlength="100" ng-model="JobPost.employer">
                            <span class="help-block" ng-show="FormErrors.employer" ng-bind="FormErrors.employer"></span>
                        </div>
                        <div id="jobpost-title-group"  ng-class="{ 'has-error' : FormErrors.title }">
                            <label><span class="glyphicon glyphicon-pencil"></span>&nbsp;Job Title*</label>
                            <input name="jobpost-title" class="form-control" type="text" maxlength="100" ng-model="JobPost.title">
                            <span class="help-block" ng-show="FormErrors.title" ng-bind="FormErrors.title"></span>
                        </div>
                        <div  id="jobpost-description-group" ng-class="{ 'has-error' : FormErrors.description }">
                            <label><span class="glyphicon glyphicon-pencil"></span>&nbsp;Job Description*</label>
                            <textarea name="jobpost-description" class="form-control" maxlength="5000" ng-model="JobPost.description"></textarea>
                            <span class="help-block" ng-show="FormErrors.description" ng-bind="FormErrors.description"></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Applicant Requirements</h4>
                    </div>
                    <div class="panel-body">
                        <div id="jobpost-introvid-group" class="form-group" ng-class="{ 'has-error' : FormErrors.introvid }">
                            <span class="glyphicon glyphicon-film"></span>&nbsp;
                            <input type="checkbox" ng-model="JobPost.introvid">
                            <label>Introduction</label>
                            <span class="help-block" ng-show="FormErrors.introvid" ng-bind="FormErrors.introvid"></span>
                        </div>
                        <div id="jobpost-resume-group" class="form-group" ng-class="{ 'has-error' : FormErrors.resume }">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                            <input type="checkbox" ng-model="JobPost.resume">
                            <label>Resume</label>
                            <span class="help-block" ng-show="FormErrors.resume" ng-bind="FormErrors.resume"></span>
                        </div>
                        <div id="jobpost-coverletter-group" class="form-group" ng-class="{ 'has-error' : FormErrors.coverletter }">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                            <input type="checkbox" ng-model="JobPost.coverletter">
                            <label>Cover Letter</label>
                            <span class="help-block" ng-show="FormErrors.coverletter" ng-bind="FormErrors.coverletter"></span>
                        </div>
                        <div id="jobpost-linkedin-group" class="form-group" ng-class="{ 'has-error' : FormErrors.linkedin }">
                            <span class="glyphicon gogo-icon gogo-icon-linkedin"></span>&nbsp;
                            <input type="checkbox" ng-model="JobPost.linkedin">
                            <label>LinkedIn</label>
                            <span class="help-block" ng-show="FormErrors.linkedin" ng-bind="FormErrors.linkedin"></span>
                        </div>
                        <div id="jobpost-website-group" class="form-group" ng-class="{ 'has-error' : FormErrors.website }">
                            <span class="glyphicon gogo-icon gogo-icon-web"></span>&nbsp;
                            <input type="checkbox" ng-model="JobPost.website">
                            <label>Website</label>
                            <span class="help-block" ng-show="FormErrors.website" ng-bind="FormErrors.website"></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="glyphicon glyphicon-film"></span>&nbsp;Prequalifying Video Questions</h4>
                        <p><br />The candidate will be asked to provide a max 30 second video answering each of the following questions.</p>
                    </div>
                    <div class="panel-body">
                        <div id="jobpost-question1-group" class="form-group" ng-class="{ 'has-error' : FormErrors.vq1 }">
                            <label><span class="glyphicon glyphicon-film"></span>&nbsp;Question</label>
                            <textarea  class="form-control" maxlength="500" ng-model="JobPost.vq1"></textarea>
                            <span class="help-block" ng-show="FormErrors.vq1" ng-bind="FormErrors.vq1"></span>
                        </div>
                        <div id="jobpost-question2-group" class="form-group" ng-class="{ 'has-error' : FormErrors.vq2 }">
                            <label><span class="glyphicon glyphicon-film"></span>&nbsp;Question</label>
                            <textarea class="form-control"  maxlength="500" ng-model="JobPost.vq2"></textarea>
                            <span class="help-block" ng-show="FormErrors.vq2" ng-bind="FormErrors.vq2"></span>
                        </div>
                        <div id="jobpost-question3-group" class="form-group" ng-class="{ 'has-error' : FormErrors.vq3 }">
                            <label><span class="glyphicon glyphicon-film"></span>&nbsp;Question</label>
                            <textarea class="form-control"  maxlength="500" ng-model="JobPost.vq3"></textarea>
                            <span class="help-block" ng-show="FormErrors.vq3" ng-bind="FormErrors.vq3"></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Post Duration</h4>
                    </div>
                    <div class="panel-body">
                        <div id="jobpost-postdate-group" class="form-group" ng-class="{ 'has-error' : FormErrors.postdate }">
                            <label><span class="glyphicon glyphicon-calendar"></span>&nbsp;Post Date*</label>            
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{dp_format}}" ng-model="JobPost.postdate" is-open="dp_opened" min-date="dp_minDate" max-date="'2015-06-22'" datepicker-options="dp_dateOptions" date-disabled="dp_disabled(date, mode)" ng-required="true" close-text="Close" disabled="disabled"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="dp_open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                            <span class="help-block" ng-show="FormErrors.postdate" ng-bind="FormErrors.postdate"></span>
                        </div>
                        <div id="jobpost-postoption-group" class="form-group" ng-class="{ 'has-error' : FormErrors.postoption }">
                            <label><span class="glyphicon glyphicon-calendar"></span>&nbsp;Duration*</label>
                            <select class="form-control" ng-model="JobPost.postoption" ng-options="v.id as v.name for v in JobAPI.JobPostOptions">
                            </select>
                            <span class="help-block" ng-show="FormErrors.postoption" ng-bind="FormErrors.postoption"></span>
                        </div>
                        <div id="jobpost-expirydate" class="gogo-success-color" ng-show="ShowJobPostExpiry()">
                            <label><span class="glyphicon glyphicon-calendar"></span>&nbsp;Expiry Date</label><span class="pull-right" ng-bind="JobPostExpiryDate | date:mediumDate"></span>
                            <br><br>
                        </div>
                        <div id="jobpost-promo-group" class="form-group"  ng-class="{ 'has-error' : FormErrors.promo }">
                            <label><span class="glyphicon glyphicon-lock"></span>&nbsp;Promo Code</label>
                            <input type="text" class="form-control"  maxlength="100"  ng-model="JobPost.promo">
                            <span class="help-block" ng-show="FormErrors.promo" ng-bind="FormErrors.promo"></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;Account Login / Registration</h4>
                    </div>
                    <div class="panel-body">
                        <div id="jobpost-email-group" class="form-group" ng-class="{ 'has-error' : FormErrors.email }">
                            <label><span class="glyphicon glyphicon-user"></span>&nbsp;Account/Registration Email*</label>
                            <input type="text" class="form-control"  maxlength="100"  ng-model="JobPost.email">
                            <span class="help-block" ng-show="FormErrors.email" ng-bind="FormErrors.email"></span>
                        </div>
                        <div id="jobpost-password-group" class="form-group" ng-class="{ 'has-error' : FormErrors.password }">
                            <label><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Password (6 - 12 characters)*</label>
                            <input type="password" class="form-control"  maxlength="100"  ng-model="JobPost.password">
                            <span class="help-block" ng-show="FormErrors.password" ng-bind="FormErrors.password"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="messages" class="row text-center alert alert-danger" ng-show="FormErrorMessage" ng-bind="FormErrorMessage"></div>
            <div ng-show="FormLoading" class="row text-center">
                <img src="icons/loading.gif"></img>
                <br>
                <br>
            </div>
            <div ng-hide="FormLoading" class="row text-center">
                <button type="button" class="btn btn-warning" ng-click="TogglePreview()">{{PreviewToggleButtonText}}</button>  <button type="button" class="btn btn-danger" ng-click="SubmitJobPost()">Submit</button>
                <br><br>
            </div>
            <div class="row" ng-show="PreviewTab">
                 <h3 class="text-center">Job Post Preview</h3>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <span class="pull-right"><a href="#">Save</a> | <a href="#">Email</a></span>
                        <br>
                        <h3>{{JobPost.title}}</h3>
                        <h4><a href="#">{{JobPost.employer}}</a></h4>
                        <h5>{{JobType}} - {{JobFunction}}</h5>
                        <h5>{{JobCity}} | Posted today</h5>
                    </div>
                    <div class="panel-body" ng-bind-html="JobPostDescription">
                    </div>
                </div>
                <form name="jobapplication">
                    <div class="panel panel-warning" id="sh-jobapplication">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Profile Information</h4>
                            <p><br />Please complete the following candidate profile information. Please be sure to tailor your application for this role. Good luck!</p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" maxlength="100">
                            </div>
                            <div class="form-group" ng-show="JobPost.linkedin">
                                <label>LinkedIn</label>
                                <input type="text" class="form-control" maxlength="100">
                            </div>
                            <div class="form-group" ng-show="JobPost.website">
                                <label>Website</label>
                                <input type="text" class="form-control" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning" ng-show="JobPost.resume">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Resume</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea class="form-control"  maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning" ng-show="JobPost.coverletter">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Cover Letter</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea class="form-control"  maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning" ng-show="ShowingAnyVideos()">
                        <div class="panel-heading">
                            <h4 class="panel-title"><span class="glyphicon glyphicon-film"></span>&nbsp;Prequalifying Video Questions</h4>
                            <p><br />Please provide a maximum 30 second video answering the following question(s). You can upload a video or record a video from your camera phone.</p>
                        </div>
                        <div class="panel-body">
                            <div ng-show="JobPost.introvid">
                                <h4>Introduction Video</h4>
                                <p>Please record a 30 second video introducing yourself and why you are applying for this position.</p>
                                <input type="file">
                            </div>
                            <div ng-show="ShowingVideo(1)">
                                <h4>Video Question</h4>
                                <p>JobPost.vq1</p>
                                <input type="file">
                            </div>
                            <div ng-show="ShowingVideo(2)">
                                <h4>Video Question</h4>
                                <p>{{JobPost.vq2}}</p>
                                <input type="file">
                            </div>
                            <div ng-show="ShowingVideo(3)">
                                <h4>Video Question</h4>
                                <p>{{JobPost.vq3}}</p>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                         <button type="button" class="btn btn-danger" disabled="disabled">Submit</button>
                        <br><br>
                    </div>
                </form>
            </div>
        </form>
    </div>
        <script src="js/libs/jquery-1.11.1.min.js"></script>
        <script src="js/libs/jquery-ui-1.11.0/jquery-ui.min.js"></script>
        <script src="js/libs/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-sanitize.min.js"></script>
        <script src="js/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/libs/underscore.min.js"></script>
        <script src="js/libs/string.js"></script>
        <script src="js/libs/date.js"></script>
        <script src="js/app.js"></script>
  </body>
</html>