<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <ul>
            <li><a href="home.html">[Form] Home</a></li>
            <li><a href="login.html">[Form] Login / Register</a></li>
            <li><a href="account.html">[Form] Account</a></li>
            <li><a href="search.html">[Form] Search</a></li>
            <li><a href="application.html">[Form] Application</a></li>
            <li><a href="application_view.html">[Form] Application View</a></li>
            <li><a href="myjobs.html">[Form] My Jobs</a></li>
            <li><a href="jobpost.html">[Form] Job Post</a></li>
            <li><a href="myjobposts.html">[Form] My Job Posts</a></li>
            <li><a href="jobpost_review.html">[Form] Job Post Review</a></li>
            <li><a href="application_review.html">[Form] Application Review</a></li>
        </ul>

        <div ng-app="streamhire">
            <div ng-controller="JobPostCtrl">
                <br>Cities: <select ng-model="x" ng-options="v.id as v.name for v in JobAPI.JobCities"></select>
                <br>Functions: <select ng-model="y" ng-options="v.id as v.name for v in JobAPI.JobFunctions"></select>
                <br>Types: <select ng-model="z" ng-options="v.id as v.name for v in JobAPI.JobTypes"></select>
                <br>Post Options: <select ng-model="a" ng-options="v.id as v.name for v in JobAPI.JobPostOptions"></select>
                <br>Account Types: <select ng-model="z" ng-options="v.id as v.name for v in AccountAPI.AccountOptions"></select>
            </div>
        </div>

        <script src="js/libs/angular.min.js"></script>
        <script src="js/app.js"></script>
  </body>
</html>