.sh-lighttext {
    color: #bdc3c7;
}

.sh-color {
    color: #03AB52 !important; 
}

.sh-jobtitle {
    margin-top: 5px; 
    margin-bottom: 1px; 
    color: #03AB52; 
    font-weight: normal;
}

.sh-greyfont {
    color: #777;
}

.avail-highlight {
    background-color: #ADFF66  !important; 
}